@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: inherit;
  color:inherit
}

*::-webkit-scrollbar{
  width: 4px;
  background-color: gray;
}

.App{
  min-height: 98.5vh;
  border: 8px solid #39445a93;
  margin: 5px;
  padding: 5px;
}